<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>Icon files Draw Default</key>
	<array>
		<string>new_icon.png</string>
		<string>new_icon@2x.png</string>
		<string>new_icon_ipad1.png</string>
		<string>new_icon_ipad2.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.orange.dice</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb451387761588871</string>
			</array>
		</dict>
	</array>
	<key>CFURLDraw</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb352182988165711</string>
				<string>gckjcchh</string>
				<string>wx427a2f57bc4456d1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.8</string>
	<key>CFChannelId</key>
	<string>91</string>
	<key>CFWordBaseVersion</key>
	<integer>1</integer>
	<key>Icon files Draw</key>
	<array>
		<string>57.png</string>
		<string>57@2x.png</string>
		<string>50.png</string>
		<string>72.png</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UILaunchImageFile~iphone</key>
	<string>DiceDefault.jpg</string>
	<key>UILaunchImageFile~ipad</key>
	<string>DiceDefault_ipad.jpg</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>dice_icon_57.png</string>
		<string>dice_icon_57@2x.png</string>
		<string>dice_icon_50.png</string>
		<string>dice_icon_72.png</string>
	</array>
</dict>
</plist>
